<div style="display: flex">
  <div [formGroup]="formGroup" style="margin: 30px">
    <h1>Fraction to number</h1>
    <mat-slide-toggle formControlName="is64">is64</mat-slide-toggle>
    <br>

    <!-- <button mat-raised-button color="primary">Primary</button> -->

    <mat-form-field class="example-form-field" >
      <mat-label>Fractions value</mat-label>
      <input matInput type="text" formControlName="fractions">
    </mat-form-field>
    <br>

    Result: {{formattedValue}}
  </div>


  <div [formGroup]="fractionFormGroup" style="margin: 30px">
    <h1>Number to fraction</h1>
    <mat-slide-toggle formControlName="hasFractional">hasFractional</mat-slide-toggle>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <mat-select formControlName="decimalValue">
        <!-- <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option> -->
        <mat-option value="32ths">32ths</mat-option>
        <mat-option value="64ths">64ths</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="example-form-field" >
      <mat-label>Numeric Value</mat-label>
      <input matInput type="text" formControlName="value">
    </mat-form-field>
    <br>

    Result: {{fractionFormattedValue}}
  </div>
</div>

